# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/

# data files
*.csv
*.gz
data/
*.swp
.ipynb_checkpoints/
# terraform cache
.terraform/
*.tfstate
tfplan
.terraform.lock.hcl

# backups
*.backup

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
